.skill-builder-popup .window-content {
    background: url("../assets/sheet/background.webp");
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    padding: 5px 10px 5px 10px;
    position: relative;
    width: 300px;
    height: auto;

    .skill-title {
        font-size: 30px;
        font-family: var(--serif-condensed);
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 10px;
    }

    .row {
        border: 1px solid var(--sub);
        margin-bottom: 10px;
    }

    .proficiency-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 10px 30px;
        padding: 5px 10px 5px 10px;

        .source {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            gap: 5px 10px;
            .level {
                font-family: var(--serif);
                font-size: 1.1em;
                font-weight: 600;
                color: var(--secondary);
                justify-content: center;
                width: 20px;
                margin-left: 6px;
            }
            .label {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
            }
            .label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-content: center;
                justify-content: flex-start;
                .type {
                    color: var(--primary);
                    font: 500 var(--font-size-10) var(--sans-serif-condensed);
                    line-height: var(--font-size-10);
                    text-transform: uppercase;
                }
                .name {
                    color: var(--body);
                    margin-right: 4px;
                    font-weight: 600;
                }
            }
            img {
                border: none
            }
        }
    }

    .proficiency-title {
        font-weight: 800;
        font-size: var(--font-size-10);
        color: var(--text-light);
        padding: 5px 10px 5px 10px;
        box-shadow: inset 0 0 0 1px rgba(white, 0.1);
        @include micro;
        &.rank-4 {
            background: #{$rank-legendary};
        }
        &.rank-3 {
            background: #{$rank-master};
        }
        &.rank-2 {
            background: #{$rank-expert};
        }
        &.rank-1 {
            background: #{$rank-trained};
        }
        &.rank-0 {
            background: #{$rank-untrained};
        }
    }
}
